.connexion {
  text-align: center;
}

.connexion input[type="name"],
.connexion input[type="email"],
.connexion input[type="password"] {
  width: 40%;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1em;
  border-radius: 2rem;
  background-color: #3eacc2;
  border: none;
  box-shadow: 5px 5px 4px rgba(20, 94, 140, 0.25);
}

.connexion input[type="submit"] {
  background: #3eacc2;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  border: none;
  box-shadow: 5px 5px 4px rgba(20, 94, 140, 0.25);
}

.connexion input[type="connexion"]:hover {
  background-color: #86e3d5;
  transition: 1s;
}

#p-yup {
  color: tomato;
}

#p-yup::before {
  display: inline;
  content: "⚠";
}
