.connexion {
  text-align: center;
  background-color: #dcf9ed;
}

input[type="name"],
input[type="email"],
input[type="password"],
textarea {
  width: 40%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  border: none;
  background-color:white;
  box-shadow: 5px 5px 4px rgba(20, 94, 140, 0.25);
  
  
}

input[type="signup"] {
  background: #3eacc2;
  color: black;
  border: 3px solid black;
  border-radius: 4rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border: none;
}
input[type="connexion"]:hover {
  background-color: #86e3d5;
  transition: 1s;
}
