.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 10vw;
  font-size: 20px;
}

.container-profil-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.home-card {
  display: flex;
  align-items: center;
}

.card-my-profil {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  padding: 3rem 1rem;
  margin: 3rem; 
  box-shadow: 6px 5px 5px #00000025;
  color: #145e8c;
  background-color: #3eacc2;
  text-align: center;
}

.profil-card {
  height: 15rem;
  width: 12rem;
  margin: 1rem;
  padding: 4rem 1rem;
  box-shadow: 6px 5px 5px #00000025;
}

.dark_blue {
  background-color: #145e8c;
  color: white;
}

.creme_blue {
  background-color: #dcf9ed;
  color: #145e8c;
}

.blue {
  background-color: #3eacc2;
  color: white;
}

/* @media screen and (min-width: 768px) {
  .basique {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .my-profil {
    grid-column: 2;
    height: 12rem;
    width: 12rem;
  }

  .dark_blue {
    grid-column: 1;
    margin-left: -20%;
    height: 12rem;
    width: 100%;
  }

  .creme_blue {
    grid-column: 2;
    height: 12rem;
    width: 100%;
  }

  .blue {
    grid-column: 3;
    margin-left: 20%;
    height: 12rem;
    width: 100%;
  }
} */
