.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10vw 3rem;
  font-size: 20px;
}

.container-profil-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.home-card {
  display: flex;
  align-items: center;
}

.card-my-profil {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  padding: 3rem 1rem;
  margin: 3rem;
  box-shadow: 6px 5px 5px #00000025;
  color: #145e8c;
  background-color: #3eacc2;
  text-align: center;
}

.profil-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15rem;
  width: 12rem;
  margin: 1rem;
  padding: 4rem 1rem;
  box-shadow: 6px 5px 5px #00000025;
}

.dark_blue {
  background-color: #145e8c;
  color: white;
}

.creme_blue {
  background-color: #dcf9ed;
  color: #145e8c;
}

.blue {
  background-color: #3eacc2;
  color: white;
}

@media screen and (min-width: 768px) {
  .profil-card:hover {
    height: 16rem;
    width: 13rem;
    margin: 3%;
    cursor: pointer;
  }
  .blue:hover {
    filter: brightness(1.2);
  }
  .creme_blue:hover {
    filter: brightness(1.08);
  }
  .dark_blue:hover {
    filter: brightness(1.3);
  }
}

@media screen and (max-width: 768px) {
  .container-profil-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .profil-card {
    height: 6.5rem;
    width: 17rem;
  }
}

/* .animation {
  animation-name: hover-card;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes hover-card {
  
} */
