/*
**
***
****
***** HEADER
****
***
** 
*/


.header-banner {
    padding: 2rem 6rem;
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;
    background: #3EACC2;
}

.title-logo-container {
    padding: 1rem;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}

.logo {
    margin: 2rem;
    border-radius: 90px;
    width: 90px;
    height: 90px;
    border-radius: 90px;
}

.header-title h1 {
    font-size: 2rem;
}

.header-title h2 {
    font-size: 1.2rem;
    color: #DCF9ED;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 15rem;
    padding: 1rem;
}

.button-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Oswald;
    padding: 0.5rem 1.5rem;
    margin: 0 1rem;
    width: fit-content;
    height: 2.5rem;
    color:white;
    background: rgba(220, 249, 237, 0.65);
    box-shadow: 5px 5px 4px rgba(20, 94, 140, 0.50);
    border-radius: 90px;
    font-size: 1.1rem;
    border: none;
}

.button-container button:hover {
    background: rgba(20, 94, 140);
    box-shadow: 5px 5px 4px rgba(20, 94, 140, 0.80);
    border-radius: 90px;
    cursor: pointer;
}

/*
** HEADER
***
****
***** 
****
***
** NAVBAR
*/

nav {
    background: #DCF9ED90;;
    padding-top: 2.5em;
    padding-bottom: 2.5rem;
    height: 6em;   
}

.nav-general ul {
    display: flex;
    justify-content: space-around;
    margin: 0 15vw;
}

.nav-general ul li {
    list-style: none; 
    margin: 0 2rem;
    font-family: Poppins;
    color: #3EACC2;
}

.nav-general a {
    /* color: #3EACC2; */
    font-weight: bolder;
    text-decoration: none;
} 

 .nav-general a:hover {
    color: #145E8C;
    font-weight: bolder;
    text-decoration: underline #145E8C;
}

@media screen and (max-width: 768px) {
    .header-title h2 {
        display: none;
}
    .header-banner {
    
	flex-direction: column;
	
}
    .title-logo-container {
        flex-direction: column;
}
    .button-container button {
    margin: auto;
    width: 7rem;
    
}
    .button-container {
        width: 18rem;
    }

}