footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4rem 3rem;
  background-color: #145E8C;
  color: white;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #DCF9ED;
  text-decoration: underline #3EACC2;
  font-weight: bolder;
  cursor: pointer;
}

footer h3 {
  padding-bottom: 0.7rem; 
}

footer li {
  flex-direction: column;
  flex-flow: column wrap;
  list-style-type: none; 
  padding-left: 0.5rem;
  margin: 0; 
}

.footer-arrow {
  color: #3EACC2;
}

.footer-links {
  margin: 0 2rem;
}
.contacts {
  margin: 0 2rem;
}

.social-medias {
  display: flex;
  justify-content: space-between;
}

.social-medias li {
  margin: 0 0.2rem;
}

@media screen and (max-width: 768px){
  footer {
    flex-direction: column;
    padding-left: 10%;
    
  }
  .footer-links {
    padding-bottom: 2rem;
}
} 